{# <meta> tags #}
{% for tagName, tagContent in __SELF__.getMetaTags() %}
    {% if tagContent is iterable %}
        <meta{% for attrName, attrValue in tagContent %} {{ attrName }}="{{ attrValue }}"{% endfor %}>
    {% else %}
        <meta name="{{ tagName }}" content="{{ tagContent }}">
    {% endif %}
{% endfor %}

{# <link> tags #}
{% for tagName, tagContent in __SELF__.getLinkTags() %}
    {% if tagContent is iterable %}
        <link{% for attrName, attrValue in tagContent %} {{ attrName }}="{{ attrValue }}"{% endfor %}>
    {% else %}
        <link rel="{{ tagName }}" href="{{ tagContent }}">
    {% endif %}
{% endfor %}
